#container	{

		border: 2px solid red;

}


#boiteune {

		border:2px solid green;
		margin-top: 100px;
    	margin-left: 20px;
    	margin-bottom: 40px;
}


#boitedeux {
		border	:2px solid blue;	
	
}